*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00c6ff,#0072ff);
    padding:20px;
}

.container{
    width:100%;
    max-width:500px;
}

.card{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.25);
    border-radius:25px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.2);
    color:white;
}

h1{
    margin-bottom:10px;
    font-size:2rem;
}

p{
    opacity:.95;
    line-height:1.6;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:50px;
    margin:25px 0 20px;
    outline:none;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:50px;
    background:white;
    color:#0072ff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

#result{
    margin-top:30px;
    min-height:130px;
}

.emoji{
    display:block;
    font-size:3rem;
    margin-bottom:12px;
}